<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">

  <div fxFlex>
    <div>
      <h3>Menu</h3>
      <hr>
    </div>
  </div>

  <div fxFlex>
    <mat-grid-list cols="2" rowHeight="200px">
      <mat-grid-tile *ngFor="let dish of dishes" (click) = "onSelect(dish)">
        <!-- Structural directives are used for adding, removing and replacing elements in the DOM -->
        <!-- Event binding that invokes the onSelect method in the companion file. -->
        <img height="200px" src={{dish.image}} alt={{dish.name}}>
        <mat-grid-tile-footer>
          <h1>{{dish.name | uppercase}}</h1>
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <app-dishdetail [dish] = "selectedDish"></app-dishdetail>
  <!-- Second kind of Data binding. Kind of like a prop passed in the component. -->

</div>